<h3><%= @topic.title %></h3>

<% like = @topic.find_my_like(current_user) %>
<div id="like-block">
  <%= render :partial => "likes/like", :locals => { :like => like } %>
</div>

<p>Author: <%= @topic.user.try(:email) %> </p>

<%= simple_format @topic.content %>
