<h2>HERE!</h2>

<%= link_to "load something", "#", :id => "ajax-load" %>

<div id="content"></div>

<script>
  $("#ajax-load").on("click", function(e){

    $.ajax({
      url: "/something",
      success: function(data) {
        $("#content").html(data)
      }
    })

  });

</script>
